<!DOCTYPE html>
<html>
<head>
  <title>Lista de productos</title>
</head>
<body>
  <h1>Lista de productos</h1>
  <ul>
    {{#each products}}
    <li>{{this.title}}</li>
    {{/each}}
  </ul>
</body>
</html>
